@font-face {
    font-family: "FiraGo B";
    src: url("../../../fonts/FiraGO-Bold.ttf");
}  
.faq {
    position: relative;  
}
.circleParent {
    overflow: hidden;
}
.circle {
    opacity: 1;
}
.circle1 {
    position: absolute;
    left: 4rem;
    top: 17rem;
    background: linear-gradient(234deg, #3b5fff, transparent);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.circle3 {
    position: absolute;
    left: 13rem;
    top: 14rem;
    background: linear-gradient(234deg, #3b5fff, transparent);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.circle2 {
    position: absolute;
    right: 6rem;
    top: -4rem;
    background: linear-gradient(45deg, #763bff, transparent);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.faqTop { 
    background: rgba(0, 50, 255, 0.0509803922);
    padding: 6rem 0;  
} 
.faqTopFlex {
    max-width: 55%;
    margin: 0 auto;
    transition: all .3s ease-in;
}
.faqTopTitle {
    color: #0e153a;
    font-size: 3rem;
    font-feature-settings: "case" on;
    font-family: "FiraGo B";
} 
.dropFaqActive {   
    border-radius: 20px;
    background-color: #0033ff12;
    transition: all .3s ease-in;
}
.faqTopText {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #626c77; 
}
.faqContainer {
    margin: 10rem 0 15rem 0; 
}
.faqContainerTop {
    max-width: 55%;
    margin: 0 auto;
    cursor: pointer;
}
.dropFaq:hover {
    background: #0033ff12;
    border-radius: 20px;
}
.faqImgActive {
    transform: translate(45deg);
    transition: all .3s ease;
}
.faqDrop {
    transition: all .4s ease-in;
    color: #0e153a; 
    font-size: 1.4rem;
    padding: 2rem 4rem 5rem 4rem; 
    line-height: 1.7;
}
.faqImg {
    transition: all .3s ease;
    transform: rotate(135deg);
}
.faqContainerBox {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5rem 3rem;
    border: 1px solid rgba(0, 51, 255, 0.132);
}
.faqContainerBoxActive {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5rem 3rem;
}
.faqContainerTitle {
    max-width: 80%;
    line-height: 1.5; 
    color: #0b2471;  
    margin-left: 1rem;
    font-size: 1.4rem;  
}
@media (max-width: 992px) {
    .faqImg {
        width: 35px;
    }
    .faqTopFlex {
        max-width: 80%;
        margin: 0 auto;
    }
    .faqTopTitle {
        font-size: 2rem;
    }
    .faqTopText {
        font-size: 1.2rem;
    }
    .circle1 {
        left: 2rem;
        top: 27rem; 
        width: 7rem;
        height: 7rem;
    }
    .circle3 {
        left: 8rem;
        top: 24rem; 
        width: 3rem;
        height: 3rem;
    }
    .circle2 {
        right: 2rem;
        top: -4rem;
        background: linear-gradient(45deg, #763bff, transparent);
        width: 7rem;
        height: 7rem;
    }
}
@media (max-width: 800px) {
    .faqContainerTitle {
        max-width: 80%;
        line-height: 1.5;
        color: #0b2471;
        margin-left: 1rem;
        font-size: 1.25rem;
    }
    .faqContainerTop {
        max-width: 90%;
    }
    .faqContainerBox {
        padding: 1.5rem;
    }
    .faqContainerBoxActive {
        padding: 1.5rem;
    }
    .faqDrop {
        font-size: 1.2rem; 
        padding: 0rem 1.5rem 5rem 2.5rem;

    }
}
@media (max-width: 295px) {
    .faqContainerTitle {
        font-size: 1rem;
    }
    .faqTopFlex {
        max-width: 80%;
        margin: 0 auto;
    }
    .faqTopText {
        font-size: 1rem;
    }
}