$primary: #0032ff;
$secondary: #ff9900;
$light: #fff;
$dark: #000;
$sec-dark: #545454;
// @font-face {
//     font-family: "Fira Go SB";
//     src: url("../../../fonts/FiraGO-Bold.ttf");
// }
// .active {
//   display: block; 
// }
// .textUpper {
// font-feature-settings: "case" on;
// }
// .carouselItem {
//   transition: all .4s ease-in;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   align-items: center;  
//   max-width: 90%;
//   margin: 0 auto;
// }
// .active {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   align-items: center;  
//   max-width: 90%;
//   margin: 0 auto;
// }    
// .mainCarousel {
//   margin: 6rem 0;
// }
// .carouselFlex {
//   display: flex;
//   position: relative; 
// }  
// .progressBar {
//   display: block;
//   position: absolute;
//   bottom: 1.5rem;
//   left: 0.55rem;
//   width: auto;
//   justify-self: left; 
//   height: .7rem;
//   background-color: $secondary;
//   color: antiquewhite;
//   transition: all 0.3s cubic-bezier(0.31, 0.46, 1, -0.12);
//   animation: progress-animation 20s infinite;
// }

// @keyframes progress-animation {
//   0% { 
//     width: 0;
//     transition: all 0.3s cubic-bezier(0.31, 0.46, 1, -0.12);
//   }
//   100% { 
//     width: 75.5%;
//   }
// }
// .vector {
//   position: absolute; 
//   left: 50%;
//   width: .8rem;
//   height: .8rem;
//   border: 3px solid #2752ff; 
//   border-radius: 50px;
//   cursor: pointer;
//   transition: all .3s ease-in;
// }
// .activeDot {
//   background-color: #2752ff;
//   width: 1.4rem;

//   transition: all .4s ease-in-out;
//   height: 1.4rem;
//   bottom: -1.25rem !important;
// }
// .vector1 {
//   bottom: -1rem;
//   left: 33%;
// } 
// .vector2 {
//   bottom: -1rem;
//   left: 40%;
// }
// .vector3 {
//   bottom: -1rem;
//   left: 46%;
// }
// .vector4 {
//   bottom: -1rem;
//   left: 52.5%;
// }
// .vector5 {
//   bottom: -1rem;
//   left: 59.5%;
// }
// .doctorIcon {
//   width: 80%;
//   height: auto;
// }
// .textClassName { 
//   color: #000;
//   font-size: 1.4rem;  
//   line-height: 1.7; 
// }
// .titleDoctor {
//   margin-top: 2.5rem;
//   font-family: "Fira Go SB";
//   color: #0032ff;
//   font-size: 3.2rem;
//   margin-bottom: 1rem;
// }
// .description { 
//   color: #000;
//   font-size: 1.2rem; 
//   display: inline-block;
//   margin-bottom: 2.5rem;
//   padding-bottom: .5rem;
//   background-color: #0033ff10;
//   color: #0032ff;
//   padding: .5rem;
//   border-radius: 16px;
// }
// .carouselBtn {
//   background: #0032ff;
//   padding: 1rem 2rem;
//   border-radius: 50px;
//   margin-top: 3rem;
//   color: #ffffff;
//   border: aliceblue;
//   font-size: 1.4rem; 
// }
.mainCarousel { 
  display: grid;
  grid-template-columns: 35% 62%;
  max-width: 88%;
  justify-content: space-between; 
  align-items: start;
  margin: 13rem auto 13rem auto;
}
.mainCarouselBtn {
    background: #0032ff;
    color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-feature-settings: "case" on;
}
.mainCarouselLeft {
  position: sticky;
  top: 12rem;
}
.mainCarouselTitle {
  font-size: 3.8rem;
  font-family: "Fira Go SB";
  font-feature-settings: "case" on;
  color: #0e153a;
}
.carouselItem {
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in;
}
 
.carouselRight {
  position: absolute;
  bottom: 2rem;
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.098); 
  left: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px; 
  padding: 1rem 2rem 0rem 2rem;
  margin-right: 2rem;
  border: 4px solid #ffffff13;
} 
.textClassName {
  color: #fff;
  font-size: 1.2rem;
  margin: 0.5rem 0 1.5rem; 
  line-height: 1.4;
}
.titleDoctor {
  color: #fff;
  font-size: 2.5rem;
  font-feature-settings: "case" on;
  margin-bottom: 1rem;
  font-family: "Fira Go SB";
}
.description {
  color: #fff;
  font-size: 1.3rem;
  font-feature-settings: "case" on;
  font-family: "Fira Go SB";
}
.mainCarouselRight {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  grid-gap: 1.25rem;
}
.mainCarouselText {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 2rem 0 3rem 0;
  color: #626c77;
}
.doctorIcon {
  position: relative;
  width: 100%;
  height: auto; 
  border-radius: 8px; 
  width: 100%; 
  height: 45vh; 
  border-radius: 15px; 
  object-fit: cover; 
  border: #a3b6ff3a 5px solid;
  transition: all .3s ease-in;
  cursor: pointer;
  overflow: hidden;
} 
.doctorIcon:hover {
  transform: scale(1.1);
}
.carouselItem {
  overflow: hidden;
  transition: all .3s ease-in;
  border-radius: 10px;
}
.carouselFlexIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pointer {
  opacity: .7;
  margin-top: -1.2rem;
}
.carouselRight {
  transition: all .3s ease-in;
  cursor: pointer;
}
.carouselItem:hover > .carouselRight {
  transform: translateY(-25px);  
  transition: all .3s ease-in;
  border-radius: 10px;
} 
@media (max-width: 1530px) {
  .mainCarouselTitle {
    font-size: 3rem;
  }
}
@media (max-width: 1385.33px) {
  .doctorIcon {
    height: 60vh;
  }
  .mainCarousel {
    grid-gap: 4rem;
  }
}
@media (max-width: 1300px) {
   .mainCarouselTitle {
    font-size: 2.6rem;
   }
}
@media (max-width: 1084px) {
  .mainCarouselLeft {
    position: relative !important;
  }
    .mainCarousel {
      display: flex;
      flex-direction: column;
    }
    .mainCarouselRight {
      width: 100%;
      margin-top: 13rem;
    }
    .carouselRight {
      width: 87%;
    }
}
@media (max-width: 800px) {
  .pointer {
    display: none;
  }
  .carouselRight {
        left: 1.5rem;
  }
   .titleDoctor {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
   }
    .mainCarouselRight {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .description {
      font-size: 1.1rem;
    }
    .textClassName {
      font-size: 1rem;
      margin: 1rem 0 1.5rem;
    }
}
@media (max-height: 425px) {
  .mainCarouselTitle {
    font-size: 2rem;
   }
  .doctorIcon {
    height: 140vh;
  }
  .carouselRight {
    bottom: 3rem; 
    left: 1.5rem;
  }
}
@media (max-width: 295px) {
   .mainCarouselTitle {
    font-size: 2rem;
   }
   .mainCarouselRight {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
   }
   .carouselRight {
    left: 1.5rem;
   }
   .titleDoctor {
    font-size: 1.5rem;
   }
}